#header {
    background-image: url('../../../static/img/bg-header.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    font-weight: bold;

    .pre-header{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        p{
            color: white;
        }
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .menu{
        display: flex;
        justify-content: center;
        color: white;
        padding-bottom: 30px;
        padding-top: 10px;
        img{
            width: 250px;
        }
    }
}