#form {
    margin-bottom: 40px;
    margin-top: 40px;
    padding: 20px 50px 40px 50px;
    background-color: #F0D91B;
    border-radius: 8px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    form{
        div{
            display: flex;
            flex-direction: column;
            padding-bottom: 10px;
            label{
                padding-bottom: 5px;
                font-weight: bold;
                font-size: 12px;
                padding: 5px;
            }
            input{
                border-radius: 8px;
                border: none;
                height: 25px;
                padding: 5px 5px 5px 10px;
            }
            select{
                border-radius: 8px;
                border: none;
                height: 30px;
                padding: 5px;
            }
            textarea{
                border-radius: 8px;
                border: none;
                height: 80px;
                padding: 10px;
            }
        }
    }
}