@font-face {
    font-family: leagueSpartan;
    src: url('../../../font/LeagueSpartan-VariableFont_wght.ttf');
 }

#whatsapp {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        cursor: pointer;
        height: 120px;
        transition: 0.5s;
    }
    img:hover{
        height: 125px;
    }
    h1{
        font-weight: bold;
        font-family: leagueSpartan;
    }
   
    p{
        padding:0;
        margin:0;
        font-size: 21px;
        font-weight: bold;
    }
    p:first-of-type{
        margin-top: 10px;
        font-size: 16px;
        font-weight: normal;
    }
}

// Small devices (portrait phones, less 576px)
@media (max-width: 575.98px) {
    #whatsapp {
        margin-top: 50px;
        margin-bottom: 50px;
        img{
            height: 100px;
        }
        img:hover{
            height: 100px;
        }
    }
}
// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {}
// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {}